

.negative_red{
    color: red !important;
    background-color: rgb(255, 228, 225) !important;
    font-weight: bold !important;
}



.positive_green{
    color: green !important;
    //background-color: rgb(255, 228, 225) !important;
    //font-weight: bold !important;
}
